.recipeList {
  list-style-type: none;
}

.recipe {  
  a {
    border-radius: 10px;
    background: #e4e4e4;
    text-decoration: none;
    display: block;
    padding: 2px 15px 15px 15px;
    }
  
  a:hover {
    background-color: #DFD4CC;
  }

  p {
    color: #000;
  }
  .category span{
    color: #272727;
    background-color: #F49600;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    margin-right: 10px;
    
  }
  .categoryContainer {
    display: flex;
    align-items: flex-start;
  }

}
