.header {
  padding: 1rem 0 3rem;
}
h1 {
  font-family: 'Tinue Road', monospace;
  text-decoration: none;
}

.title {
  color: #000;
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 1.3rem 0 0 0;
}

.nav-item {
  color: #999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

.active-nav-item {
  color: #333;
}
